@model RMS_System.ViewModels.AdminViewModel
@{
    ViewBag.Title = "AdminDashboard";
    var date = Convert.ToDateTime(Session["ProvidedDate"]);
}
<div class="container body-content">
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("AdminDashboard", "Home", FormMethod.Post))
                    {
                        <table class="col-md-4">

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Date:</label>
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input placeholder="@date" name="date" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-outline-dark">Generate Report</button>
                                </td>
                            </tr>

                        </table>
                    }
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Revenue</span>
                            <span class="info-box-number">
                                @Model.TotalRevenueInfoBox
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Cash Revenue</span>
                            <span class="info-box-number">@Model.CashRevenueInfoBox</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Card Revenue</span>
                            <span class="info-box-number">@Model.CardRevenueInfoBox</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Number of Sessions</span>
                            <span class="info-box-number">@Model.NoOfSessions</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Hourly Sales</h3>


                        </div>
                        <div class="card-body">
                            <div id="chartContainer" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Waiter Performance
                            </h3>


                        </div>
                        <div class="card-body">
                            <div id="waiter-performance" style="height: 300px;"></div>
                        </div>
                        <!-- /.card-body-->
                    </div>

                    <!-- /.card -->
                    <!-- solid sales graph -->
                    <!-- /.card -->
                    <!-- Calendar -->
                    <!-- /.card -->
                </section>
                <section class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Top 5 Dishes
                            </h3>
                        </div>
                        <div class="card-body">
                            <div id="top5dishes" style="height: 300px;"></div>
                        </div>
                    </div>

                    <!-- /.card-body-->
                </section>

                <!-- /.card-body-->
                <!-- /.card -->
                <!-- solid sales graph -->
                <!-- /.card -->
                <!-- Calendar -->
                <!-- /.card -->
            </div>

            <div class="row">
                <!-- Left col -->
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->

                <section class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Daily Orders
                            </h3>


                        </div>
                        <div class="card-body">
                            <div id="daily-orders" style="height: 300px;">
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <td>Table</td>
                                        <td>Waiter</td>
                                        <td>Time</td>
                                        <td>Revenue</td>
                                        <td style="width:20px;"></td>
                                    </tr>

                                    @foreach (var item in Model.Orders)
                                    {
                                        <tr>
                                            <td>@item.TableName</td>
                                            <td>@item.WaiterName</td>
                                            <td>@item.OrderDate</td>
                                            <td><a target="_blank" href="/Home/ShowReceipt/@item.ID">@item.GrandTotal</a></td>
                                            @if (item.PaidBy == "Card")
                                            {
                                                <td><img src="~/Content/credit-card.png" /></td>

                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body-->
                    </div>

                    <!-- /.card -->
                    <!-- solid sales graph -->
                    <!-- /.card -->
                    <!-- Calendar -->
                    <!-- /.card -->
                </section>








                <!-- /.card -->
                <!-- solid sales graph -->
                <!-- /.card -->
                <!-- Calendar -->
                <!-- /.card -->
                <section class="col-lg-6 connectedSortable">
                    <table>
                    </table>

                    <!-- /.card-body-->
                </section>

                <!-- /.card-body-->
                <!-- /.card -->
                <!-- solid sales graph -->
                <!-- /.card -->
                <!-- Calendar -->
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- right col -->
    <!-- /.row (main row) -->

</div><!-- /.container-fluid -->
<!-- /.content -->

<script src="~/Content/themedata/plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/Content/themedata/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/themedata/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/themedata/plugins/select2/js/select2.full.min.js"></script>
<script src="~/Content/themedata/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="~/Content/themedata/plugins/moment/moment.min.js"></script>
<script src="~/Content/themedata/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Content/themedata/plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/Content/themedata/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="~/Content/themedata/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">


    $('#reservationdate').datetimepicker({
        format: 'Y-M-D'
       
    });

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Hourly Sales"
            },
            axisX: {
                valueFormatString: "HH TT",
                interval: 1,
                intervalType: "hour"
            },
            axisY: {
                title: "Sales",

            },
            legend: {
                cursor: "pointer",
                fontSize: 16,
                itemclick: toggleDataSeries
            },
            toolTip: {
                shared: true
            },
            data: [{
                name: " ",
                type: "spline",
                yValueFormatString: "#,##0.00",
                showInLegend: true,
                dataPoints: [
                    { x: new Date(2017, 6, 24, 6, 00), y: 31 },
                    { x: new Date(2017, 6, 24, 7, 00), y: 31 },
                    { x: new Date(2017, 6, 24, 8, 00), y: 29 },
                    { x: new Date(2017, 6, 24, 9, 00), y: 29 },
                    { x: new Date(2017, 6, 24, 10, 00), y: 31 }
                ]
            }]
        });
        chart.render();
        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }


    };

    $(function () {
        var bar_data = {
            data: [[1, 10], [2, 8], [3, 4], [4, 13], [5, 17], [6, 9]],
            bars: { show: true }
        }
        $.plot('#waiter-performance', [bar_data], {
            grid: {
                borderWidth: 1,
                borderColor: '#f3f3f3',
                tickColor: '#f3f3f3'
            },
            series: {
                bars: {
                    show: true, barWidth: 0.5, align: 'center',
                },
            },
            colors: ['#3c8dbc'],
            xaxis: {
                ticks: [[1, 'January'], [2, 'February'], [3, 'March'], [4, 'April'], [5, 'May'], [6, 'June']]
            }
        })
    })


</script>

