@model RMS_System.ViewModels.AdminViewModel
@{
    ViewBag.Title = "AdminDashboard";
    var date = Convert.ToDateTime(Session["ProvidedDate"]);
    if(date.ToString() == "1/1/0001 12:00:00 AM")
    {
        date = DateTime.Now;
    }
    else
    {
        date = Model.date;
    }
}
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/themedata/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/themedata/dist/css/adminlte.min.css">

</head>
<div class="container body-content">
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("AdminDashboard", "Home", FormMethod.Post))
                    {
                        <table class="col-md-4">

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Date:</label>
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input id="date" value="@date"  name="date" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-outline-dark">Generate Report</button>
                                </td>
                            </tr>

                        </table>
                    }


                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Revenue</span>
                            <span class="info-box-number">
                                @Model.TotalRevenueInfoBox
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Cash Revenue</span>
                            <span class="info-box-number">@Model.CashRevenueInfoBox</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Card Revenue</span>
                            <span class="info-box-number">@Model.CardRevenueInfoBox</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Number of Sessions</span>
                            <span class="info-box-number">@Model.NoOfSessions</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Hourly Sales</h3>


                        </div>
                        <div class="card-body">
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Waiter Performance
                            </h3>


                        </div>
                        <div class="card-body">
                            <div id="waiter-performance" style="height: 300px;"></div>
                        </div>
                        <!-- /.card-body-->
                    </div>

                    <!-- /.card -->
                    <!-- solid sales graph -->
                    <!-- /.card -->
                    <!-- Calendar -->
                    <!-- /.card -->
                </section>
                <section class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Top 5 Dishes
                            </h3>
                        </div>
                        <div class="card-body">
                            <div id="top5dishes" style="height: 300px;"></div>
                        </div>
                    </div>

                    <!-- /.card-body-->
                </section>

                <!-- /.card-body-->
                <!-- /.card -->
                <!-- solid sales graph -->
                <!-- /.card -->
                <!-- Calendar -->
                <!-- /.card -->
            </div>

            <div class="row">
                <!-- Left col -->
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->

                <section class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Daily Orders
                            </h3>


                        </div>
                        <div class="card-body">
                            <div id="daily-orders" style="height: 300px;">
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <td>Table</td>
                                        <td>Waiter</td>
                                        <td>Time</td>
                                        <td>Revenue</td>
                                        <td style="width:20px;"></td>
                                    </tr>

                                    @foreach (var item in Model.Orders)
                                    {
                                        <tr>
                                            <td>@item.TableName</td>
                                            <td>@item.WaiterName</td>
                                            <td>@item.OrderDate</td>
                                            <td><a target="_blank" href="/Home/ShowReceipt/@item.ID">@item.GrandTotal</a></td>
                                            @if (item.PaidBy == "Card")
                                            {
                                                <td><img src="~/Content/credit-card.png" /></td>

                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body-->
                    </div>

                    <!-- /.card -->
                    <!-- solid sales graph -->
                    <!-- /.card -->
                    <!-- Calendar -->
                    <!-- /.card -->
                </section>








                <!-- /.card -->
                <!-- solid sales graph -->
                <!-- /.card -->
                <!-- Calendar -->
                <!-- /.card -->
                <section class="col-lg-6 connectedSortable">
                    <table>
                    </table>

                    <!-- /.card-body-->
                </section>

                <!-- /.card-body-->
                <!-- /.card -->
                <!-- solid sales graph -->
                <!-- /.card -->
                <!-- Calendar -->
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- right col -->
    <!-- /.row (main row) -->

</div><!-- /.container-fluid -->
<!-- /.content -->
<!-- jQuery -->
<script src="~/Content/themedata/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Content/themedata/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="~/Content/themedata/plugins/select2/js/select2.full.min.js"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="~/Content/themedata/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="~/Content/themedata/plugins/moment/moment.min.js"></script>
<script src="~/Content/themedata/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="~/Content/themedata/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="~/Content/themedata/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/Content/themedata/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="~/Content/themedata/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="~/Content/themedata/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="~/Content/themedata/plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/themedata/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script type="text/javascript">


    var dataPoints = [];
    var result = @Html.Raw(ViewBag.DataPoints);
    for (var i = 0; i < result.length; i++) {
        dataPoints.push({
            x: new Date(result[i].x),
            y: result[i].y
        });

    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "hourly Sales Data"
            },
            axisY: {
                title: "USD",
                titleFontSize: 24,
                prefix: "$",
                crosshair: {
                    enabled: true,
                    valueFormatString: "$#,##0.##",
                    snapToDataPoint: true
                }
            },
            axisX: {
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            data: [{
                type: "line",
                yValueFormatString: "$#,##0.##",
                xValueFormatString: "HH:MM",
                dataPoints: dataPoints
            }]
        });



            chart.render();

        }

            $('#reservationdate').datetimepicker({
                
            });
       



        //$.getJSON("/home/Json/", addData);

    }








   


</script>





