@model RMS_System.ViewModels.BillViewModel
@{
    ViewBag.Title = "BillingOrderDashboard";
    Double SGSTAmount = 0;
    Double CGSTAmount = 0;
    Double TotalAmount = 0;
    Double DiscountAmount = 0;
    Double DiscountedAmount = 0;
    int Count = 0;
    int Count2 = 0;
}

<div class="filter-container p-0 row">

    @foreach (var item2 in Model.Order)
    {

        <div class="border border-dark table-responsive col-md-4">
            <table class=" table-hover table-condensed col-md-12">
                @{++Count;
                    ++Count2;}
                <thead>
                    <tr>
                        <td colspan="3">
                            <h4 class="text-light bg-dark">@item2.TableName</h4>
                        </td>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>
                            Amount
                        </td>

                        <td colspan="2">
                            @item2.GrandTotal

                        </td>

                    </tr>
                    <tr>
                        <td>Discount<input class="textvalue" onkeyup="myFunction(@Count,@item2.GrandTotal,@Count2)" id="@Count" style="width:30px" type="text" /></td>
                        @if (DiscountedAmount == 0)
                        {

                            <td id="discountdata_@Count2"></td>
                        }
                        else
                        {
                            <td>@DiscountedAmount</td>
                        }
                        @{
                            DiscountedAmount = item2.GrandTotal / 100;
                            DiscountedAmount = DiscountedAmount * DiscountAmount;
                        }

                    </tr>
                    <tr>
                        <td>SGST(@Model.configuration.SGST)</td>
                        @{
                            SGSTAmount = item2.GrandTotal / 100;
                            SGSTAmount *= Model.configuration.SGST;
                        }
                        <td colspan="2">@SGSTAmount</td>
                    </tr>

                    <tr>
                        <td>CGST(@Model.configuration.CGST)</td>
                        @{
                            CGSTAmount = item2.GrandTotal / 100;
                            CGSTAmount *= Model.configuration.CGST;
                        }
                        <td colspan="2">@CGSTAmount</td>
                    </tr>


                    <tr>
                        <td>
                            Total Amount
                        </td>
                        <td colspan="2">
                            @{
                                TotalAmount = CGSTAmount + SGSTAmount + item2.GrandTotal;
                            }
                            @TotalAmount
                        </td>

                    </tr>


                    <tr>

                        <td><button type="button"  data-id="@item2.ID" class="btnPrint btn btn-sm btn-primary">PRINT</button></td>
                        <td><button type="button" data-id="@item2.ID" class="btnCash btn btn-sm btn-primary">Paid by Cash</button></td>
                        <td><button type="button" data-id="@item2.ID" class="btnCard btn btn-sm btn-primary">Paid By Card</button></td>
                    </tr>


                </tbody>
            </table>
            <br />
        </div>
        <br />
        <br />
        //}

    }



</div>


<script>

    $(".btnOrder").click(function () {
        var abc = $(this).attr("data-id");
        var tr = $(this).closest('tr');
        var FirstCol = tr.find(`input[data-id=${abc}]`).val();
        $.ajax({
            url: '@Url.Action("TableFoodEntry", "Home")',
            type: 'GET',
            data: {
                ID: $(this).attr("data-id"),
                Quantity: FirstCol

            }
        })
            .done(function (response) {

                $("#ActionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })

    });



    function myFunction(val,total,count) {
        var asbc = document.getElementById(val).value;
        var dec = (total / 100).toFixed(2);
        var mult = asbc * dec;
        $('#discountdata_' + count + '').html(mult);

    }

</script>