@model RMS_System.ViewModels.BillViewModel
@{
    ViewBag.Title = "BillingOrderDashboard";
    Double SGSTAmount = 0;
    Double CGSTAmount = 0;
    Double TotalAmount = 0;
    Double DiscountAmount = 0;
    Double DiscountedAmount = 0;
    int Count = 0;
    int Count2 = 0;
}

<div class="filter-container p-0 row">

    @foreach (var item2 in Model.Order)
    {

        <div style="border:inset" class="border table-responsive col-md-4">
            <table class=" table-hover table-condensed col-md-12">
                @{++Count;
                    ++Count2;}
                <thead>
                    <tr>
                        <td align="center" colspan="3">
                            <h3 class="text-light bg-dark">@item2.TableName</h3>
                        </td>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>
                            Amount
                        </td>

                        <td colspan="2">
                            @item2.GrossTotal

                        </td>

                    </tr>
                    <tr>
                        @{ 
                            string tabless = item2.TableName;
                        }
                        <td>Discount<input class="textvalue" onkeyup="myFunction(@Count,@item2.GrossTotal,@Count2, '@tabless')" id="@Count" style="width:30px" type="text" /></td>
                        @if (DiscountedAmount == 0)
                        {

                            <td id="discountdata_@Count2"></td>
                        }
                        else
                        {
                            <td>@DiscountedAmount</td>
                        }
                        @{
                            DiscountedAmount = item2.GrossTotal / 100;
                            DiscountedAmount = DiscountedAmount * DiscountAmount;
                        }

                    </tr>
                    <tr>
                        <td>SGST(@Model.configuration.SGST)</td>
                        @{
                            SGSTAmount = item2.GrossTotal / 100;
                            SGSTAmount *= Model.configuration.SGST;
                        }
                        <td colspan="2"><span id="SGST_@Count2">@SGSTAmount</span></td>
                    </tr>

                    <tr>
                        <td>CGST(@Model.configuration.CGST)</td>
                        @{
                            CGSTAmount = item2.GrossTotal / 100;
                            CGSTAmount *= Model.configuration.CGST;
                        }
                        <td colspan="2"><span id="CGST_@Count2">@CGSTAmount</span></td>
                    </tr>


                    <tr>
                        <td>
                            Total Amount
                        </td>
                        <td colspan="2">
                            @{
                                if (DiscountedAmount == 0)
                                {
                                    TotalAmount = CGSTAmount + SGSTAmount + item2.GrossTotal;
                                }
                                else
                                {
                                    TotalAmount = CGSTAmount + SGSTAmount + item2.GrossTotal;
                                    //TotalAmount -= DiscountedAmount;

                                }
                            }
                            <span id="FinalTotalAmount_@Count2">@TotalAmount</span>
                        </td>

                    </tr>


                    <tr>

                        <td><button type="button"  data-id="@item2.ID" class="btnPrint btn  btn-outline-secondary">PRINT</button></td>
                        <td><button type="button" data-method="Cash" data-id="@item2.ID" class="btnCash btn  btn-outline-primary">Paid by Cash</button></td>
                        <td><button type="button" data-method="Card" data-id="@item2.ID" class="btnCard btn  btn-outline-primary">Paid By Card</button></td>
                    </tr>


                </tbody>
            </table>
            <br />
        </div>
        <br />
        <br />
        //}

    }



</div>


<script>





    function myFunction(val,total,count,tablename) {
        var asbc = document.getElementById(val).value;
        var cgst = parseFloat($('#CGST_' + count + '').html());
        var sgst = parseFloat($('#SGST_' + count + '').html());
        var dec = (total / 100).toFixed(2);
        var mult = asbc * dec;
        var gdtotal = total - mult + cgst + sgst;
        $('#discountdata_' + count + '').html(mult);

         $.ajax({
            url: '@Url.Action("UpdateDiscount", "Home")',
            type: 'GET',
            data: {
                TableName: tablename,
                Discount: mult,
                DiscountPercentage: asbc


            }
         })
        $('#FinalTotalAmount_' + count + '').html(gdtotal);


    }


    $(".btnPrint").click(function () {
        var orderID = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("ShowReceipt", "Home")',
            type: 'GET',
            data: {
                ID: $(this).attr("data-id"),
            }
        })
            .done(function (response) {
                var url = "/Home/ShowReceipt/"+orderID;
                window.open(url, "_blank");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            })

    });


    $(".btnCash").click(function () {
        $.ajax({
            url: '@Url.Action("CompleteOrder", "Home")',
            type: 'GET',
            data: {
                ID: $(this).attr("data-id"),
                Method: $(this).attr("data-method")
            }
        })
            .done(function (response) {
                $("#ActionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            })

    });

    $(".btnCard").click(function () {
        $.ajax({
            url: '@Url.Action("CompleteOrder", "Home")',
            type: 'GET',
            data: {
                ID: $(this).attr("data-id"),
                Method: $(this).attr("data-method")
            }
        })
            .done(function (response) {
                $("#ActionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            })

    });

</script>