@model RMS_System.ViewModels.AdminViewModel
@{
    ViewBag.Title = "CancelledOrders";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">

                @using (Html.BeginForm("CancelledOrders", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                            <input name="date" type="text" value="@Model.ProvidedDate" class="form-control float-right" id="reservationtime">
                        </div>
                        <!-- /.input group -->


                        <div class="col-md-3">
                            <button class="btn btn-outline-primary " type="submit">Get Cancelled Orders</button>

                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Cancelled Orders</h3>
                    </div>
                   
                    <div class="card-body">
                        <div id="daily-orders" style="height: 100%;">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <td>Date</td>
                                    <td>Waiter Name</td>
                                    <td>Table</td>
                                    <td>Item Name</td>
                                </tr>

                                @foreach (var item in Model.CancelledOrders)
                                {
                            <tr>
                                <td>@item.CancelledDate</td>
                                <td>@item.WaiterName</td>
                                <td>@item.TableName</td>
                                <td>@item.ItemName</td>
                            </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>
</section>



<script>

    $('#reservationtime').daterangepicker({
        timePickerIncrement: 30,
        locale: {
            format: 'MM/DD/YYYY'
        }
    })

</script>