    @model RMS_System.ViewModels.TableEntryForFoodViewModel
@{
    ViewBag.Title = "GoToFoodEntry";
    var PlaceholderURL = "/Content/themedata/dist/img/placeholder.png";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="table col-md-12">
                    <tr>
                        <td class="col-md-4">
                            <h4 class="card-title">Table Name: @Model.SelectedTableName.TableName</h4>
                        </td>

                        <td class="col-md-4">
                            <h4 class="card-title">Waiter: @Model.WaiterName.UserName</h4>
                        </td>
                        <td>
                            @using (Html.BeginForm("WaiterApp", "Home", FormMethod.Get))
                            {
                                <button type="submit" class="btn btn-outline-dark">BACK TO TABLES</button>
                            }

                            
                        </td>
                        <td>
                            <button onclick="LoadCart()" type="button" class="btn btn-outline-info">LOAD CART</button>
                        </td>

                </table>



                <div class="table-responsive scroll col-md-10">


                    <table cellspacing="0" class="col-md-9">
                        <tr>
                            @using (Html.BeginForm("GoToFoodEntry", "Home", FormMethod.Get))
                            {
                                foreach (var item in Model.MenuItmsCategories)
                                {
                                    <td class="col-sm-1"><button name="Category" type="submit" value="@item" class="categoryBtn btn btn-outline-info">@item </button></td>
                                }
                                <td>
                                    <button type="submit" class="categoryBtn btn btn-outline-secondary">VIEW ALL </button>
                                </td>
                            }
                        </tr>
                    </table>
                </div>

            </div>


            <div class="scroll2 table-responsive">
                <table id="MenuContainer" class="table table-condensed">
                    <tr>
                        <td>
                            @foreach (var item in Model.MenuItems)
                            {
                                <div class="card text-center" style="margin-right:5px;width: 10rem; float:left">
                                    <div class="card-header">
                                        <label>@item.MenuName</label>
                                    </div>
                                    @if (item.ImageURL == null || item.ImageURL == "")
                                    {
                                        <img class="card-img-top" height="100" width="100" src="@Url.Content(PlaceholderURL)" />
                                    }
                                    else
                                    {

                                        <img class="card-img-top" height="100" width="100" src="@Url.Content(item.ImageURL)" />

                                    }
                                <div class="card-body">
                                    <label>Rs @item.Price /-</label>
                                
                                    <table class="table table-responsive">
                                        <tr>
                                            <td style="padding:0.3rem">
                                                <button name="minusqty" value="-" onclick="subtractQty(@item.ID)"  type="button" style="float:left" class="btn btn-sm btn-outline-primary">-</button>
                                            </td>
                                            <td style="padding:0.3rem">
                                                <input class="quantityfield" name="quantityfield" data-id="@item.ID" type="text" style="width:25px" value="0" id="@item.ID" />
                                            </td>
                                            <td style="padding:0.3rem">

                                                <button name="addqty" type="button" style="float:left" onclick="AddQty(@item.ID)" class="btn btn-sm btn-outline-primary btn-rounded" value="+" >+</button>

                                            </td>
                                        </tr>
                                        
                                    </table>

                                        <button type="button" data-id="@item.ID" class="btnOrder  btn btn-sm btn-block btn-outline-danger">ORDER</button>
                                    
                                </div>
                                </div>
                            }
                        </td>
                    </tr>
                </table>

            </div>
            <div id="ActionContainer">
            </div>
        </div>

    </div>
</section>

<style>

    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    div.scroll {
        margin: 4px, 4px;
        padding: 4px;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    div.scroll2 {
        border: solid;
        margin: 4px, 4px;
        padding: 4px;
        width: 68%;
        height: 380px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
        margin-right:10px;
    }
</style>

<script>



    function AddQty(name) {
      document.getElementById(name).value++;
    }


    function subtractQty(name) {
        if (document.getElementById(name).value - 1 < 0) {
            var foodID = document.getElementById(name).value;
            return;
        }
        else {
            document.getElementById(name).value--;
            var foodID = document.getElementById(name).value;

        }
    }

    function LoadCart() {
          $.ajax({
            url: '@Url.Action("ShowCart", "Home")',
            type: 'GET'
        })
            .done(function (response) {

                $("#ActionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })


    }


    //setInterval(function () {
    //    LoadCart();
    //}, 1000);



   


    $(".btnOrder").click(function () {
        var abc = $(this).attr("data-id");
        var tr = $(this).closest('tr');
        var FirstCol = tr.find(`input[data-id=${abc}]`).val();
        if (FirstCol != 0) {
            $(abc).attr("disabled", true);
            $.ajax({
                url: '@Url.Action("TableFoodEntry", "Home")',
                type: 'GET',
                data: {
                    ID: $(this).attr("data-id"),
                    Quantity: FirstCol

                }
            })
                .done(function (response) {

                    $("#ActionContainer").html(response);
                    LoadCart();

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                })
        }
        else {
            alert("Quantity Should Not Be Zero");
        }

    });


</script>


