@model RMS_System.ViewModels.KitchenDashboardViewModel

@{
    ViewBag.Title = "KitchenOrderDashboard";
}

<div class="filter-container p-0 row">

    @*Foreach Will Be here*@
    @foreach (var item2 in Model.Orders)
    {
        if (item2.OrderedItems != item2.ItemsServed)
        {
    <div class="card col-md-4">
        <div>
            <h3 style="padding-left:30%; background-color:cadetblue;color:white">@item2.WaiterName - @item2.TableName </h3>
            <table class="table-hover table-condensed col-md-12">
                <tbody>
                    @foreach (var item in Model.Entries)
                    {
                        if (item.TableName == item2.TableName)
                        {

                            <tr>
                                <td>
                                    @{ var CreateDate = @item.OrderedTime;
                                        TimeSpan span = (DateTime.Now - CreateDate);
                                        var seconds = span.Seconds;
                                        var minutes = span.Minutes;
                                        var hours = span.Hours;
                                    }

                                    <span style="background-color:gold">@hours : @minutes : @seconds</span>


                                </td>
                                <td>
                                    (@item.Quantity) @item.FoodItem
                                </td>
                                <td>
                                    <button class="dispatchbtn btn btn-sm btn-outline-secondary" data-id="@item.ID">DISPATCH</button>
                                </td>
                                @if (Model.Role == "Kitchen Master")
                                {

                                    <td>
                                        <button class="deletebtn btn btn-outline-secondary" data-id="@item.ID">DELETE</button>
                                    </td>
                                }
                            </tr>
                        }

                    }


                </tbody>
            </table>
        </div>
    </div>
        }

    }



</div>

<script>
    $(".dispatchbtn").click(function () {

        $(".dispatchbtn").attr("disabled", true);
        $.ajax({
            url: '@Url.Action("DispatchEntry", "Home")',
            type: 'GET',
            data: {
                ID: $(this).attr("data-id")
            }
        })
            .done(function (response) {

                $("#ActionContainer").html(response);
                $(".dispatchbtn").attr("disabled", false);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })

    });


   var submit = 0;
   function CheckDouble() {
     if (++submit > 1) {
     alert('This sometimes takes a few seconds - please be patient.');
     return false;
   }
 }


    $(".deletebtn").click(function () {
        $.ajax({
            url: '@Url.Action("DeleteOrderEntries", "Home")',
            type: 'GET',
            data: {
                ID: $(this).attr("data-id")
            }
        })
            .done(function (response) {

                $("#ActionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })

    });
</script>