<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RMS System</title>


    <script src="~/Content/themedata/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="~/Content/themedata/plugins/fontawesome-free/css/all.min.css">
    <!-- Ekko Lightbox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="~/Content/themedata/plugins/ekko-lightbox/ekko-lightbox.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="~/Content/themedata/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/themedata/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/themedata/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/themedata/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/themedata/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/themedata/plugins/summernote/summernote-bs4.min.css">




    <script src="~/Content/themedata/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/themedata/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/Content/themedata/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/themedata/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/themedata/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/themedata/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/themedata/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/themedata/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/themedata/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/themedata/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/themedata/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/themedata/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/themedata/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/themedata/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>



    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/themedata/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <!-- ChartJS -->
    <script src="~/Content/themedata/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/themedata/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/themedata/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/themedata/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/themedata/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/themedata/plugins/moment/moment.min.js"></script>
    <script src="~/Content/themedata/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/themedata/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Content/themedata/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/themedata/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/themedata/dist/js/canvasjs.min.js"></script>
    <script src="~/Content/themedata/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/themedata/dist/js/pages/dashboard.js"></script>

    <script src="~/Content/themedata/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/themedata/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/Content/themedata/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
</head>

    
<body class="hold-transition sidebar-mini layout-fixed">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>           
        </ul>

      
    </nav>
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/Content/themedata/dist/img/credit/kisspng-portable-network-graphics-food-fusion-cuisine-logo-restrokhana-your-online-restaurant-partner-br-5cfe4eadf40b99.7666644115601701579996.png" alt="RMS System" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">RMS System</span>
            </a>

            <!-- Sidebar -->
           
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/Content/themedata/dist/img/credit/css logo-03.png" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="http://cybersoftservices.com/" class="d-block">By CSS</a>
                        </div>
                    </div>
                    <!-- SidebarSearch Form -->
                    <!-- Sidebar Menu -->

                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                            @if (Session["Role"] == null)
                            {
                                Response.Redirect(Url.Action("Index", "Login"));

                            }
                            @if (Session["Role"].ToString() == "Admin")
                            {
                                <li class="nav-item">
                                    <a href="@Url.Action("AdminDashboard", "Home")" class="nav-link">
                                        <i class="fa-regular fa-gauge"></i>
                                        <p>
                                            Dashboard
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <p>
                                            Users
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "User")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Add Users</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("UserListing", "User")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>List Users</p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-copy"></i>
                                        <p>
                                            Menu
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Create", "MenuItem")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Add Menu</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("MenuListing", "MenuItem")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>List Menu</p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                @*dropdown*@
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-copy"></i>
                                        <p>
                                            Reports
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Revenue Reports</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Dish Wise Reports</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Cancelled Reports</p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                @*dropdown*@
                                <li class="nav-item">
                                    <a href="@Url.Action("TableListing", "Table")" class="nav-link">
                                        <i class="nav-icon fas fa-concierge-bell"></i>
                                        <p>
                                            Tables
                                        </p>
                                    </a>
                                </li>
                            }

                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Login")" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <p>
                                        Logout
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <!-- /.sidebar-menu -->
                </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- /.col -->
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            @RenderBody()

            <!-- /.content-wrapper -->


        </div>
    </div>
</body>
</html>
