@model RMS_System.ViewModels.EditMenuItemViewModel
@{
    ViewBag.Title = "Edit";
    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/themedata/dist/img/placeholder.png";
}

<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Update Menu Item</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="editMenuItem" method="post">
                            <div class="card-body">

                                <input hidden id="ID" name="ID" value="@Model.ID" />

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Menu Name</label>
                                    <input type="text" class="form-control" value="@Model.MenuName" name="MenuName" id="MenuName" placeholder="Enter Item Name">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Category Name</label>
                                    <input type="text" class="form-control" value="@Model.CategoryName" name="CategoryName" id="CategoryName" placeholder="Enter Category Name">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Description</label>
                                    <input type="text" class="form-control" value="@Model.Description" name="Description" id="Description" placeholder="Enter Description">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Price</label>
                                    <input type="text" class="form-control" value="@Model.Price" name="Price" id="Price" placeholder="Enter Price">
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                   
                                            <input class="form-control" name="ImageURL" value="@imageURL" id="ImageURL" type="hidden" />
                                            <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg, .jpeg" />
                                  <br />
                                    <div class="thumb">
                                        <img style="height:70px; width:70px" class="img-thumbnail img-fluid" src="@imageURL" id="productimage" />
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer col-md-2">
                                <button id="btnUpdate" type="submit" class="btn btn-block btn-outline-primary">UPDATE</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>
<script>

    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#productimage").attr("src", response.ImageURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });

    $("#btnUpdate").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "MenuItem")',
            data: $("#editMenuItem").serialize()
        })
            .done(function (response) {

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })

    });
</script>