@model RMS_System.ViewModels.UserListingViewModel
@{
    ViewBag.Title = "UserListing";
    var PlaceholderURL = "/Content/themedata/dist/img/placeholder.png";

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User Listing</h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("UserListing", "User", FormMethod.Get))
                        {
                            <label> Search</label>
                            <input type="text" class="form-control" name="Search" id="Search" placeholder="Search Users">
                            <button type="submit" id="btnSearch" class="btn btn-outline-info">Search</button> 
                            <button type="submit" id="btnViewAll" class="btn btn-outline-secondary">View All</button>
                        }
                        <button  onclick="location.href='@Url.Action("Create","User")'" class="btn btn-outline-success">Create New</button>
                        <br />
                        <div class="table-responsive">
                            <table id="usersEditTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Picture</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td>
                                                @if (item.ImageURL == null)
                                                {
                                                    <img height="70" width="70" src="@Url.Content(PlaceholderURL)" />
                                                }
                                                else
                                                {

                                                    <img height="70" width="70" src="@Url.Content(item.ImageURL)" />
                                                }

                                            </td>

                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.Role</td>
                                            <td>
                                                <button type="button" class="btnEdit btn btn-sm btn-outline-primary" data-id="@item.ID">EDIT</button>
                                                <button type="button" onclick="DeleteUser(@item.ID)" data-id="@item.ID" class="btnDelete btn btn-sm btn-outline-danger">DELETE</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Picture</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th colspan="2">Action</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                </div>
            </div>
        </div>
    </section>




<script>
    $(".btnEdit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "User")',
            data: {

                ID: $(this).attr('data-id')
            }

        })
            .done(function (response) {
                $("#usersEditTable").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            })

    });


    function refreshPage() {
        location.reload(true);
    }

     $("#btnSearch").click(function () {
        var searchvalue = $("#Search").val();

        $.ajax({
            url: '@Url.Action("UserListing", "User")',
            data: {
                search: searchvalue
            }
        })
            .done(function (response) {
                $("#usersSearchTable").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })

     });

    $("#btnViewAll").click(function () {
        var searchValue = '';

        $.ajax({
            url: '@Url.Action("UserListing", "User")',
            data: {
                search: searchvalue
            }
        })
            .done(function (response) {
                $("#usersSearchTable").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })

    });

    function DeleteUser(userId) {
        var confirmDelete = confirm("Are you sure want to delete this User?")
        if (confirmDelete) {
            $.ajax({
                url: '@Url.Action("Delete", "User")',
                type: "POST",
                data: { id: userId }
            })
                .done(function (oData) {
                    refreshPage();
                })
                .error(function (error) {
                    alert(error);
                })
        }
                };



</script>


